<div class="features">
  <section class="list">
    <div class="item">
      <header class="item-header">
        <h2>File Manager</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature1.png" target="_blank"><img src="/assets/img/features/feature1.png" alt="Feature 1" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You can use the main features for managing files and folders, such as Download, Rename, Delete, and Share Files.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Share Files</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature2.png" target="_blank"><img src="/assets/img/features/feature2.png" alt="Feature 2" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You can share files with other users of the system or who has access to your shared link.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="item">
      <header class="item-header">
        <h2>User Management</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature3.png" target="_blank"><img src="/assets/img/features/feature3.png" alt="Feature 3" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You manage your users, add, edit and remove and restart your user session, can also see access information like last login, last access and if the user is online.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="item">
      <header class="item-header">
        <h2>Settings</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature4.png" target="_blank"><img src="/assets/img/features/feature4.png" alt="Feature 4" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You can edit the settings of the system as system title, description, language and time zone.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Login System</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature5.png" target="_blank"><img src="/assets/img/features/feature5.png" alt="Feature 1" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You can log into the system or recover your password if you missed it.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Session Security</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature6.png" target="_blank"><img src="/assets/img/features/feature6.png" alt="Feature 6" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>The LivBox has a security system per session, you can not use the system in different places at the same time. The system has a safety lock so it makes it catches your login session and unlocks only when you logout. This will give more security to your data and changes. If you forget to log out, your session will be locked. After 30 minutes of no activity it will be unlocked.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="item">
      <header class="item-header">
        <h2>Public Downloads</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature12.png" target="_blank"><img src="/assets/img/features/feature12.png" alt="Feature 12" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>Once you share a file yours, you can pass the shared link to others. It can download to your computer or send it to your personal folder.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Protected Pages</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature7.png" target="_blank"><img src="/assets/img/features/feature7.png" alt="Feature 7" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>The LivBox has a system allowing access to certain pages of the system. Only certain types of users can access important system pages.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Maintenance Mode</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature7.png" target="_blank"><img src="/assets/img/features/feature8.png" alt="Feature 8" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>The LivBox has a maintenance mode, you turn on and off easily if needed.</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
        <div class="item">
      <header class="item-header">
        <h2>Mobile Version</h2>
      </header>
      <div class="item-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="item-slide">
              <a href="/assets/img/features/feature.png" target="_blank"><img src="/assets/img/features/feature9.png" alt="Feature 9" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item-resume">
              <p>You can use all features of LivBox via computers, laptops, tablets or smartphones.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
